<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Scraper</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEuXkf7XY3CSX4rH2BT0LrpMRd2Gmu7jWTvQ&s" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- <h2>Scraped Content</h2> -->
    <div id="contentContainer">
        {{ content|safe }}  <!-- Display scraped HTML content -->
    </div>
</body>
</html>
